{% load static %}
<div style="margin-top:10px;margin-bottom:40px;" class="text-center">
    <img src="{% static 'staticfiles/images/home-logo-small.png'%}" alt="Logo">
{% autoescape off %}
<h3>Hi {{ user.first_name }},</h3>
<h4>You're receiving this email because you requested a password reset for your user account at <b>{{ domain }}</b></h4>
<p>Please go to the following page and choose a new password</p>

{{ domain }}reset/{{ uid }}/{{ token }}/

<p>Your username, in case you've forgotten: {{ user.email }}</p>
<p>If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.</p><br>

    <p>If you have any questions please email us at: <b>customerservice@admin.drupsinvesting.com</b></p>
    <p>Thanks for using our services</p>
    <b>Sincerely,</b>
    <p>The BizBuySell Team.</p>
{% endautoescape %}
</div>