{% extends "bizz/pages/home.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
        <title>DrupsInvesting Settings</title>
		  {% endblock title %}
 {% block content %}
 {% block extrahead %}
		  {% endblock extrahead %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title text-center" ><strong>Settings</strong> <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-edit"></i></button></h3>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                      <div class="modal-dialog  modal-lg  modal-dialog-scrollable">
                                                        <div class="modal-content">
                                                          <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Edit Settings</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                              <span aria-hidden="true">&times;</span>
                                                            </button>
                                                          </div>
                                                          <div class="modal-body">
                                                            <div class="container">

                                                                <form method="post" action="{% url 'settings' %}" id="settings_form">
                                                                    {% csrf_token %}
                                                                    <div class="form-row">
                                                                      <div class="form-group col-md-6 mb-0">
                                                                         {{ config_form.user|as_crispy_field }}
                                                                      </div>
                                                                      <div class="form-group col-md-6 mb-0">
                                                                         {{ config_form.password|as_crispy_field }}
                                                                      </div>
                                                                   </div>
                                                                    <div class="form-row">
                                                                      <div class="form-group col-md-6 mb-0">
                                                                         {{ config_form.host|as_crispy_field }}
                                                                      </div>
                                                                      <div class="form-group col-md-6 mb-0">
                                                                         {{ config_form.port|as_crispy_field }}
                                                                      </div>
                                                                   </div>
                                                                    <div class="form-row">
                                                                      <div class="form-group col-md-6 mb-0">
                                                                         {{ config_form.db_name|as_crispy_field }}
                                                                      </div>
                                                                      <div class="form-group col-md-6 mb-0">
                                                                         {{ config_form.url|as_crispy_field }}
                                                                      </div>
                                                                   </div>

                                                                </form>

                                                            </div>
                                                          </div>
                                                          <div class="modal-footer">
                                                            <button type="button" id="submit_btn" class="btn btn-primary" >Update</button>
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
    </div>
    <div class="card-body">
        {% if messages %}
                                 {% for message in messages %}
                                 <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                   {{ message }}
                                   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                     <span aria-hidden="true">&times;</span>
                                   </button>
                                 </div>
                                 {% endfor %}
                             {% endif %}
         <table class="table table-striped " >
             <tbody>
             <tr><td>User</td><td>{{setting.user}}</td></tr>
             <tr><td>Password</td><td>{{setting.password}}</td></tr>
             <tr><td>Host</td><td>{{setting.host}}</td></tr>
             <tr><td>Port</td><td>{{setting.port}}</td></tr>
             <tr><td>Database Name</td><td>{{setting.db_name}}</td></tr>
             </tbody></table>
    </div>
</div>
 {% endblock content %}
 {% block extra_scripts %}
<script>
$('#submit_btn').click(function(){
  document.getElementById("settings_form").submit();
});
</script>
		  {% endblock extra_scripts %}
