{% extends "bizz/pages/home.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}
{% block title %}
        <title>DrupsInvesting Table</title>
		  {% endblock title %}
 {% block content %}
 {% block extrahead %}
<style>
    #cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}
@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:blue;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
</style>
<style>

.autocomplete-wrapper {


    #query-results {
      display: none;
      color:black;
      position: absolute;
      top: 80px;
      left: -1px;
      right: -1px;
      border: solid 1px #CCC;
      min-height: 100px;
      max-height: 300px;
      overflow: scroll;
      list-style: none;
      padding: 10px;
      background-color:white;

      li {
        padding: 5px;
        margin: 0;
        font-size: 15px;

        &:hover {
          background: #c1c1c1;
          cursor: pointer;
        }
      }
    }
}
</style>
<!--
<link href="{% static 'vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">-->
		  {% endblock extrahead %}
    <div id="cover-spin"></div>
    <div class="container-fluid">
      <div class="row">
    <div class="col-4">
       <div class="card">
           <div class="card-header d-flex justify-content-center" style="font-size:14px;background-color:#d8d7d4;color:black;">Search Details</div>
           <div class="card-body">
               <div class="row">
               <div class="col">List Name:</div>
               <div class="col">{{list.name}}</div>
              </div>
                <div class="row">
                   <div class="col">Email Preference</div>
                   <div class="col">{{list.email_preference}}</div>
                 </div>
               <div class="row">
                   <div class="col">Email Active</div>
                   <div class="col">{{list.email_active}}</div>
                 </div>
               <div class="row">
                   <div class="col">Email Frequency</div>
                   <div class="col">{% if list.email_frequency%}{{list.email_frequency}}{%else%}-{%endif%}</div>
               </div></div></div></div>
    <div class="col-8">
        <div class="card">
           <div class="card-header d-flex justify-content-center" style="background-color:#d8d7d4;color:black;">Filters Applied</div>
           <div class="card-body" id="filters_applied"></div>

       </div>
    </div>

</div>

            </div>


<div class="container">
    <div id="filtered_record_div">
        {{response}}
    </div>
</div>

 {% endblock content %}
 {% block extra_scripts %}
<!--
 <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins-init/datatables.init.js' %}"></script>
    -->
<script>
const titles =
    {
    'buz_category':'Business Category: ',
    'gross_min':'Gross Min: ',
    'gross_max':'Gross Max: ',
    'cash_min':'CashFlow (Min): ',
    'cash_max':'CashFlow (Max): ',
    'ebita_min':'Ebitda(Min):',
    'ebita_max':'Ebitda(Max): ',
    'No_Emp_min':'No. of Employees(Min): ',
    'No_Emp_max':'No. of Employees(Max): '
    ,'askingprice_min':'AskingPrice(Min): ',
    'askingprice_max':'AskingPrice(Max): ',
    'building_area_min':'Building Area(Min): ',
    'building_area_max':'Building Area(Max): ',
    'query':'Location: ',
    'retire_reason':'Selling Reason: ',
    'InventoryIncluded':'InventoryIncluded: ',
    'RSIncluded':'Real Estate Included: ',
    'age_of_business' : 'Age of Business: ',
    'date-from':'Date Range From: ',
    'date-to':'Date Range to: ',
    'InventoryIncluded':'Inventory Included: ',
    'RSIncluded':'RS Included: ',
        'state':'state(s): ',
        'county':'County: ',
        'keywords':'keywords: '
        };

    $( document ).ready(function() {
var filters = '{{ filters|escapejs }}'
filters = JSON.parse(filters);
console.log(filters);
for (var key in filters){
  console.log( key, filters[key] );
    if(filters[key] != ''){
        var name = "#"+ key;
         tag_name= '#' + key+"_tag";
            var title = titles[key]
          myhtml = `
              <span style = "marign:5px;font-size:1vw;" id = "` +tag_name+`" class="badge badge-info" >` +title+filters[key]+`
                          </span>`

                innerhtml = $("#filters_applied").html();
                $("#filters_applied").html(innerhtml+myhtml);
    }

}

});




function paging_history(id){
        filters = get_inputs()
    $('#cover-spin').show(0)
    var filtersstr = JSON.stringify(filters);
       $(function () {
           $.ajax({
               url: '{% url 'get-records' %}',
               data: {
                 'page': id,
                 'filters':filtersstr,
               },
               dataType: 'json',
               success: function (data) {
                    $('#cover-spin').hide(0)
                    $("#filtered_record_div").html(data['response']);
               }
             });
           });
   }
</script>
<script>
    var arr = {{locations|safe}};
    console.log(arr);

$('#query').on({
	"focus": function() {
  	$(this).parent().css('border-color', '#CCCCCC');
  },
  "blur": function() {
  	$(this).parent().css('border-color', '#EEEEEE');
  },
  "keyup": function() {
  	var results = [];
		var val = $(this).val();
    var $queryResults = $('#query-results');
    var queryResultsMarkup = "";

    if (val.length > 1) {
    		$queryResults.html("").hide();
    		$.each(arr, function(i) {
        		if (arr[i].match(new RegExp(val,'i'))) {
            		var $li = $('<li/>')
                		.html(arr[i])
                    .attr('data-value', arr[i]);
                $queryResults.append($li).show();
            }
        });

        $('li').on('click', function() {
            var selectedVal = $(this).attr('data-value');
            $('#query').val(selectedVal);
            $('#query-results').html("").hide();
        });
    } else {
    		$queryResults.html("").hide();
    }
  }
});
</script>
		  {% endblock extra_scripts %}
